[2020-12-17 19:53] nickfla1 opened #1 "TypeScript Error: This expression is not callable"
I'm getting the following TypeScript error when I use this package in a .tsx file.
`TS2349: This expression is not callable. Not all constituents of type 'FunctionTemplate | undefined' are callable. Type 'undefined' has no call signatures.`

- _tsc_ version: `4.0.5`
- _tailwind-styled-components_ version: `1.0.6`

TypeScript configuration:
[code]

[2020-12-28 17:08] MathiasGilson commented on #1
Hello, thank you for your report,

can you send me the code you are using when you import and call tailwind-styled-components ?

Many thanks

[2021-01-04 07:16] padunk commented on #1
Hi,
I also get this error.
I create a project with create-react-app `--template typescript`

[code]

![Screenshot 2021-01-04 14 12 34](https://user-images.githubusercontent.com/25411350/103510110-2011d580-4e97-11eb-984c-b8d86236c5a0.png)

[2021-01-04 13:31] nickfla1 commented on #1
Hello, @MathiasGilson
I was using the example code I found in the README.

[2021-01-05 15:01] MathiasGilson commented on #1
Setting `"strict": false` in `tsconfig.json` removed the error.
I know this is not a solution, I'll try to make the package strictly type.
Stay tuned!

[2021-01-05 18:10] MathiasGilson commented on #1
Just push the version `1.0.7` that should solve this issue.

Many thanks for your detailed reports

[2021-01-06 14:46] #1 closed

[2021-01-31 12:48] gopherine opened #2 "Does not work for something like framer-motion motion.div"
From what i see is all the elements are hard-coded , I am not sure if that is by design or limited it would have been better to rather add support for custom element and generalize it, instead of having this attached to react only supported element

so right now <div> works but <motion.div> does not work I'm not sure if there is some work around this if there is i would like to use this and apprec

[2021-01-31 18:12] MathiasGilson commented on #2
Hello,

Have you tried that ?
[code]

[2021-01-31 18:20] gopherine commented on #2
this is super clean , works really well :D

[code]

i feel stupid i kept using dot there and thought it's not working. Thanks, also token of appreciation i really hope this project continue to be updated.his because i see other solutions are very complicated i.e. comparing to twin macro and styled-comp/emotion this is super clean and minified.

[2021-01-31 18:20] #2 closed

[2021-02-01 14:18] redbaron76 opened #3 "TypeScript support"
Hello,

is there a way to use TypeScript generics in Tailwind component declaration?

Something like this:

[code]

Thanks

[2021-02-01 18:34] MathiasGilson commented on #3
Mmmh I will look into that.
If you know how to implement it a PR would be most welcomed 😉

In the meantime you could try to specify the type on the parameter level

[code]

[2021-02-01 19:57] MathiasGilson commented on #2
Thank you for your support 😉

[2021-02-05 13:13] dtro-devuk opened #4 "Typo on Example"
Typo on README Example:

// Create a <SpecialBlueContainer> react component that renders a <section> with
// a special blue background color
const Container = styled.section`
  background-color: #0366d6;

SHOULD BE

const SpecialBlueContainer = styled.section

[2021-02-08 02:20] MathiasGilson commented on #4
Fixed ! Thank you @dtro-devuk for reporting it 😉

[2021-02-08 02:20] #4 closed

[2021-02-08 19:43] #3 closed

[2021-03-13 14:12] mhedengren opened #5 "Any way to get intelliSense to work with this package?"
Love the idea of this package, is there any way to get the vscode intellisense feature to work along with this?

[2021-03-18 13:28] frederik-oestergaard commented on #5
VS Code autocompetion for StyledComponents comes from the extension **typescript-styled-plugin**.
Luckily this extension can be configured to provide autocompletion for other tags, see link below.
[typescript-styled-plugin](https://github.com/Microsoft/typescript-styled-plugin#configuration).

I fixed this by adding following in our `tsconfig.json` file:
[code]

[2021-03-23 07:25] sethstha commented on #5
You can get that from tailwindcss-intelisense for vscode. Just pass the regex. This should do it

[code]

[2021-03-27 07:48] sethstha opened #6 "Received `true` for a non-boolean attribute `block`"
It seems like props are passed as an attribute and when I pass boolean, It throws error on the console. I am using next.js with typescript.

This is the error
[code]

Component looks like this
[code]

The workaround is using number as boolean `block ? 1 : 0`

[2021-03-31 01:08] misterhtmlcss opened #7 "Compiles without errors, classnames make it into html, but no css rules appear"
*Package.json*
[code]

*Hero.js*
[code]

*Browser view*
[code]

*Browser console*
[code]

Trying to figure out how to get the code behind those classnames to get loaded so the browser is rending the classname correctly.

[2021-04-02 16:53] MathiasGilson commented on #7
Hello !

Tailwind Styled Component is a tailwind plugin, you will need to install Tailwind in order to use it and to get the css rules.
Please follow this instructions for the installation https://tailwindcss.com/docs/installation

[2021-04-02 16:53] #7 closed

[2021-04-02 16:57] MathiasGilson commented on #6
Hello,

Yes I have the same issue, apparently Styled component has it as well.
The only clean solution would be to sanitize the property based on the tag.
So your button would get the prop "block" removed as it's not a default HTML prop.
But that would require to ship the list of all the HTML props of every tags in the package and I need to make sure that this will not end up in production or it w

[2021-04-02 17:03] MathiasGilson commented on #5
Thank you @sethstha ! I will add that to the readme.

[2021-04-02 17:03] #5 closed

[2021-04-24 19:29] cemreinanc commented on #6
Hello,

I think styled-components have a solution called transient props: https://styled-components.com/docs/api#transient-props

I tried a similar one with a quick one liner:
https://github.com/cemreinanc/Tailwind-Styled-Component/commit/abb453f4acb2b3620526855c7b894d341c82cc09

this method just filters out the props that starts with "$" from the dom element but they are still usable in styles.
W

[2021-04-27 17:07] m50 commented on #6
[code]

This is an idea?

Though, if my PR (#8) is merged, that would no longer work. 🤔

Alternatively, a change in PR could be requiring the keys of the transient props start with `$`, and do as @cemreinanc said and filter those out when spreading into the Element.

[2021-04-27 17:50] MathiasGilson commented on #6
Hello @m50,

I'm reviewing your PR.
Impressive work!
Thank you very much for taking the time to improve and type the code 😄

I wonder if there would be a way to filter the props out at the compilation time versus runtime.
So that we can simply have file with all the props accepted by the browser for each html element and filter the props out while compiling the bundle.
I think that this would requ

[2021-04-27 17:59] m50 commented on #6
Personally, I picked this over twin because there is no webpack extension required. If it required a webpack extension, I'd have to stop using this, as I use Snowpack, and I have no interest in using Webpack with it.

There is [a package](https://www.npmjs.com/package/react-dom-props) which just lists them out, but this is a slight worry to use, just cause you would need very different functionali

[2021-04-27 18:02] MathiasGilson commented on #6
Got you, I'll implement the Transient props then 😉

[2021-04-27 18:13] MathiasGilson commented on #6
<img width="622" alt="Screenshot 2021-04-27 at 19 12 21" src="https://user-images.githubusercontent.com/7348817/116291451-7ed3c580-a78c-11eb-881e-262b018aaafe.png">

I can't inforce the $ as the first character of the props though, any idea ?

[2021-04-27 18:21] cemreinanc commented on #6
I think you can't enforce that but also probably you shouldn't?
Because if we want to still pass a prop to underlying dom element we should be able to write that without the $ sign.

[2021-04-27 18:28] m50 commented on #6
Weird that it doesn't recognize a template literal as a string. I am not sure on that one. I haven't had issues like that in the past. Maybe it's because I usually use a slightly newer TS? Dunno.

@cemreinanc: you make a good point though, but then it has the caveat that they can't be booleans, and can't have any capitals in the key. Not sure that's completely ideal.

And FWIW, the typing for the

[2021-04-27 18:30] m50 commented on #6
Ahhhh @MathiasGilson : I think you need at least TS4.1, TS4.0 (which is currently in use) doesn't support template literal types.

[2021-04-27 18:47] MathiasGilson commented on #6
Good catch but it still doesn't work after the update.
The Template Literal Types work now but not as index signature parameter type.

<img width="604" alt="Screenshot 2021-04-27 at 19 47 16" src="https://user-images.githubusercontent.com/7348817/116295795-6023fd80-a791-11eb-9a31-2d05a4ca131f.png">

[2021-04-27 18:49] MathiasGilson commented on #6
<img width="929" alt="Screenshot 2021-04-27 at 19 48 07" src="https://user-images.githubusercontent.com/7348817/116295894-7f228f80-a791-11eb-8a11-4e9f943ccc19.png">

I got an issue with the typing when trying to filter the props out too 😭
You seem to be way better than me at typing, if you have the time to PR it would be greatly appreciated!

[2021-04-27 18:55] m50 commented on #6
`{...Object.........) as P}`

Need to specify the type here, because it can't be certain.

As for the template literal keys, I'll have to take a look after work today to see if I have a solution for you. I could have sworn it would work.

You could try: `type TransientProps = Record<`$${string}`, any>`, maybe using a Record would work? Records are technically just objects as well.

[2021-04-27 19:04] MathiasGilson commented on #6
Wow nice it worked! Well done 👍

The only catch is that it doesn't seem to enforce the $ at the start of the props

<img width="453" alt="Screenshot 2021-04-27 at 20 03 41" src="https://user-images.githubusercontent.com/7348817/116297883-ac703d00-a793-11eb-85c4-27e2dd7bc270.png">

[2021-04-27 19:11] m50 commented on #6
Yeah, tried that. 🤔

![image](https://user-images.githubusercontent.com/3577147/116298140-b1b49400-a761-11eb-8747-06f30dc71c44.png)

https://stackoverflow.com/questions/65878880/typescript-template-literal-as-interface-key

According to jcalz there, we might be able to do it in TS4.4, but until then, looks like the template literal keys won't work.

Maybe his solution of a function might work, but

[2021-04-27 19:45] MathiasGilson commented on #6
Yeah I read the same stack overflow.

Perfect then we will implement it once typescript 4.4 is out.

I'll just document it for now.

Thank you so much for your help 🙏

[2021-04-27 19:46] m50 commented on #6
Happy to help. :)

[2021-04-28 13:20] MathiasGilson commented on #6
New NPM package release with transient props support and way better typing.
Many thanks to @m50 and @cemreinanc for your help!

[2021-04-28 13:20] #6 closed

[2021-05-02 14:42] MathiasGilson opened #10 "Input onChange and onFocus props are not working"
The props don't seems to be correctly propagated to the React Element.

[code]

Check the example directory for a reproducible example

[2021-05-02 14:42] MathiasGilson commented on #10
@m50 any ideas ?

[2021-05-02 16:00] m50 commented on #10
I'll take a look later today, if/when I have time.

My fiancé just arrived back in town after being away for a year, so no guarantees.

Pretty sure I didn't change the forwarded prop types at all... But I'll take a look

[2021-05-02 16:04] m50 commented on #10
Just took a real quick look:

![image](https://user-images.githubusercontent.com/3577147/116819516-fbbcc180-ab35-11eb-9ff3-185c8216b4fd.png)

Seems to work for me?

[2021-05-02 19:16] MathiasGilson commented on #10
Thank you for taking the time to have a look

autocomplete works for me too, but do you get anything in the console log ? like "focus" when you focus on the input ?

[2021-05-02 23:16] m50 commented on #10
So I figured out the issue. I noticed it was running it twice, and the problem was caused by your HTML file imporing the bundle.js file, while WebPack was injecting that itself as well, and I guess the React VM was having a conflict in the DOM, breaking the example.

[2021-05-02 23:18] m50 commented on #10
![image](https://user-images.githubusercontent.com/3577147/116831021-aa7ef300-ab72-11eb-93e6-0c64a0756640.png)

The changes I made (not worth a PR):

- remove the inclusion of bundle.js from the html file.
- `e.targe.event` => `e.target.value`

Then it worked!

[2021-05-02 23:40] MathiasGilson commented on #10
![image](https://media.tenor.com/images/0283f8169ce766913c3bb8c615dd6ec7/tenor.gif)

[2021-05-02 23:40] #10 closed

[2021-05-02 23:41] MathiasGilson commented on #10
thank @m50 your are the best!

[2021-05-06 09:27] riywo opened #11 "Can't install `2.0` from NPM"
Failed example:

[code]

No issue with `1.0.7`:
[code]

Probably due to this unnecessary circular dependency:

https://github.com/MathiasGilson/Tailwind-Styled-Component/blob/4f7a7460ad4bfea5ff1cd4ab24792437c3ae838a/package.json#L52

This probably works up to `1.x` because `^1.0.5` accepts minor/patch versions: https://docs.npmjs.com/about-semantic-versioning#using-semantic-versioning-to-specify-u

[2021-05-06 16:44] MathiasGilson commented on #11
Hello @riywo,

thank you for reporting this issue!
I removed the circular dependency everything should be working now!

Please reopen if you have any issues

[2021-05-06 16:44] #11 closed

[2021-05-06 19:47] riywo commented on #11
Thanks! `2.0.2` worked perfectly for me.

[2021-05-08 20:28] dfelber opened #12 "Extends demo in readme does not override background color"
I tried to recreate the example from the readme where RedContainer should override the background color of DefaultContainer.

Instead of `bg-blue-600` getting replaced with `bg-red-300`, I get both classes in the result:

[code]

Is there anything I am missing?
I am using version 2.0.2.

Thanks!

[2021-05-09 14:37] MathiasGilson commented on #12
Hello!

Can you send me the code ?

Many thanks

[2021-05-10 07:06] dfelber commented on #12
Sure: https://github.com/dfelber/Tailwind-Styled-Component-Issue-12
The code from the example is in https://github.com/dfelber/Tailwind-Styled-Component-Issue-12/blob/master/pages/index.js

[2021-05-11 17:28] MathiasGilson commented on #12
Thank you for reporting this.
Unfortunately I checked and it's pretty hard to fully support overriding parent classes.
So I updated the readme to explain that this repo does not support it.
I would check https://github.com/ben-rogerson/twin.macro but I'm not entirely sure that they support it

Please let me know if you find any way to implement it and I would be glad to try 😉

[2021-05-11 17:28] #12 closed

[2021-05-18 13:45] cj opened #13 "displayName"
@MathiasGilson great lib!

One thing I think is missing is adding displayName like styled components does i.e. if its `tw.label` the displayName would be `tw.label` instead of Anonymous.

I can possibly create a pull request later this week!

[2021-05-18 14:27] MathiasGilson commented on #13
Hey!
Yes that would be great, thank you 😁

[2021-05-28 00:46] rmrantunes opened #14 "QUESTION: Am I safe to use this in production?"
I mean, in a very large project. I'm looking for great tools to help me out, and I'm kinda interested in this one. Can anyone, who put this in production before, tell me if it had a nice performance?

[2021-06-03 12:34] magnuschase opened #15 "TypeScript error: '>' expected"
Hi, im pretty much new to typescript, react and all that stuff, and im trying to change the code of an existing app to use tailwind-styled-components instead of regular ones, but i get that error right after installing the module:
[code]
my code:
```import tw from 'tailwind-styled-components'```
```const Root = tw.div`
  flex
`;```

file in which the error occures (i haven't modified anything):
[c

[2021-06-03 12:56] magnuschase commented on #15
I changed my version to 2.0.1 and the problem disappeared - still not sure what caused it though

[2021-06-03 12:57] #15 closed

[2021-06-03 13:44] SlaveInGateway opened #16 "Props limit"
[code]

The code above works perfectly fine but if I add one 1 prop the last prop wont be added to the className. why ?

ex.

[code]

[2021-06-03 17:57] jeremy-foreflight commented on #16
Had the a similar problem but maybe I can add a little bit extra color for the issue. The only 2 conditionals that work are the top 2. After that it treats them like they don't exist.

`const ButtonUI = tw.button<ButtonProps>`
    rounded
    border

    ${p => p.size === 'large' && `
        py-4
        px-3
        text-6
    `}

    ${p => p.size === 'small' && `
        p-1
        text-xs

[2021-06-05 17:57] rofazayn opened #17 "Tailwindcss plugins"
Hello,
Awesome work Mathias.

Is it possible to implement 3rd party plugins like tailwind-rtl to it?

Cheers

[2021-06-06 09:42] AlexMason commented on #16
Ran into this issue as well, it appears that `TemplateStringsArray` is the issue here? Is it converting any values after the first literal to undefined?  It looks like it is an open issue with TypeScript?

Reference https://github.com/microsoft/TypeScript/issues/33304

[2021-06-06 10:21] vayupath opened #18 "Can i use it without type script in react project"

[2021-06-07 02:53] AlexMason commented on #16
I have introduced a PR request that should fix this issue, disregard my previous comment.

https://github.com/MathiasGilson/Tailwind-Styled-Component/pull/19

[2021-06-09 16:56] dev-aly3n opened #20 "nested css"
Hi devs
how we can write nested css like below:

tw.div`
flex

& h2 {
text-red-500
}
`

thank you for this awesome work Mathias

[2021-06-11 12:37] MathiasGilson commented on #16
The PR has been merged, thank you @AlexMason 🙌

[2021-06-11 12:37] #16 closed

[2021-06-11 12:38] MathiasGilson commented on #20
Hi @dev-aly3n,

You can extend a Styled Component has shown on the the README.

### Extends Styled Component

Extend [styled components](https://github.com/styled-components/styled-components)

[code]

*Css rule `filter` is not supported by default on TailwindCSS*

[2021-06-11 12:38] #20 closed

[2021-06-11 12:39] MathiasGilson commented on #18
Yes you can use Typescript modules without using typescript.
Please let me know if you run into any issue

[2021-06-11 12:39] #18 closed

[2021-06-11 12:41] MathiasGilson commented on #17
I'm not sure but technically it should work with tailwind plugins.
I've used it with https://github.com/tailwindlabs/tailwindcss-forms

Let me know if you have issue with a plugin

[2021-06-11 12:41] #17 closed

[2021-06-12 03:42] Olatade commented on #13
How do you select child elements ?? this does not work:

const Container = tw.div`
  grid
  grid-cols-2
  bg-green-300

  .container-child {
    //....container child style
  }
`;

[2021-06-13 13:07] Olatade opened #21 "Nesting"
How do you select child elements ? This does not work:

const Container = tw.div`
grid
grid-cols-2
bg-green-300

.container-child {
//....container child style
}
`;

[2021-06-15 12:12] MathiasGilson commented on #21
You can use a Styled Component to do that and then extend it

[code]

[2021-06-15 12:12] #21 closed

[2021-06-15 14:41] user753 opened #22 "Function to combine tailwind classes to string"
I would like to do something like this
[code]
Also, it could be usefull when props change many classes

[code]

[2021-06-15 15:39] Olatade commented on #21
Hello!! thanks for your reply!. In your example above, container-child cannot contain tailwind styles. How do we achieve nesting by using only tailwind styles?

[2021-06-15 19:30] AlexMason commented on #22
You don't really need to use a library to do that.  You can just write a function to do so.
`function cls(input) {
  return input[0].split("\n").join(' ').trim()
}

console.log(cls`
p-1
mt-2
mb-3
`);`

[2021-06-17 12:13] matthijs110 opened #23 "Before / After pseudo elements"
How can I define (dynamic) pseudo-elements (`:before` or `:after`)?

I know this is not natively possible in Tailwind yet, but I was wondering if there is a way to work around this.

I am trying to achieve the following:
[code]

where `$color` should be a dynamic variable.

[2021-06-23 16:25] MathiasGilson commented on #23
Have you tried to extend a styled component object like that ?

[code]

[2021-06-23 16:25] #23 closed

[2021-06-23 16:30] MathiasGilson commented on #21
Nesting is a css thing so I don't think that you can nest css classes.
aka you can't do that

[code]

You will have to create another children component or inject the css props directly

[2021-07-04 07:43] tiagostutz opened #24 "What about `className` attribute be concatenated at the end instead of beginning?"
Hi there! 👋🏻

Considerate the following simple scenario:
[code]

[code]

To me the final `className` attribute would be **"text-3xl text-blue-700 font-bold mt-4 pb-6"**. But instead, the outer most `className` attribute is being placed at the beginning of the className yielding to **"mt-4 pb-6 text-3xl text-blue-700 font-bold"**. But, IMHO, in the described scenario the parameter passed to the com

[2021-07-07 01:14] flekschas-ozette opened #25 "Pass props to styled component"
I wonder if it's possible to pass props as they are to a styled component that was extended?

For instance:

[code]

What I noticed is that `$large` is not accessible on `StyledTitle`. It's only accessible on `Title`.

Is there a way to ensure I can use the `TitleProps` on `StyledTitle`?

[2021-07-16 11:09] srigi commented on #25
@flekschas-ozette
I needed something similar to you...

[code]

It just works as expected.

[2021-07-16 17:05] flekschas-ozette commented on #25
Interesting! Thanks for your example. I wonder if the issue in my case were transcient props (the `$` in front of the prop). I'll take another look.

[2021-07-26 23:17] AlexMason commented on #24
This was my bad when I fixed a previous issue,  line 26 just needs the parameters swapped and it will be fixed.  Create the PR and hopefully it will get accepted in a reasonable time.

[2021-07-26 23:22] tiagostutz commented on #24
Hi @AlexMason !

Nice. I'll work on this PR and will hopefully open the PR asap.

Also, I was introduced to this project: https://github.com/ben-rogerson/twin.macro

Do you know this project also?

[2021-07-31 07:56] Schwefelhexa opened #26 "Faulty Tailwind classRegex"
When using the autocomplete settings provided in the README, the following happens:

![image](https://user-images.githubusercontent.com/40794797/127733173-50bfc7d6-5021-4489-b5dd-e82439535383.png)

The regex triggers after the second backtick.

[2021-08-28 14:10] Schwefelhexa commented on #26
My apologies, looking back on it the issue is pretty hard to understand.
What happened is that I updated my VS Code settings according to the readme. However, that messed up the regex for the Tailwind plugin. Instead of correctly offering code completion between the two backticks, it only provided completion & highlighting after the second backtick, resulting in the screenshot above.

[2021-08-30 11:26] MathiasGilson commented on #26
Hello @Schwefelhexa,

I understand the issue, unfortunately I was not able to reproduce it.
Which Tailwind plugin are you referring to?

Many thanks

[2021-08-30 18:31] officefish opened #28 "Is it a way to override createGlobalStyle function of styledComponent"
Have a such global style:

[code]

Need to override it on:
`<body class="min-h-screen bg-gray-100 text-sm" >
`

[2021-08-30 18:42] officefish commented on #28
trying this way, it doesn't work:

[code]

[2021-09-02 14:27] Schwefelhexa commented on #26
Hey @MathiasGilson,

Sorry for my late reply, I was talking about the official Tailwind plugin for VS Code.

The easiest way is to create a new project using Tailwind, and copy & paste the settings in the README into `.vscode/settings.json`.
Now, begin typing the following:
[code]
You should notice what I have screenshotted above - autocomplete will only trigger after the second backtick.

[2021-09-02 14:35] MathiasGilson commented on #26
@Schwefelhexa Oh I see the autocomplete works but also wrongly triggers after the second tick.
I though that it only started to work for you after the second tick and did not work properly between the two first ticks.

Great I've tested your fix and it seems to work, thank you so much for taking the time to explain and pushing this pull request!

Many thanks 😁

[2021-09-02 14:35] #26 closed

[2021-09-02 14:38] Schwefelhexa commented on #26
No problem, I don't mind putting a little work into such a nice library!

[2021-09-04 02:36] kyh opened #29 "Typescript prop errors"
Running into some type issues but a basic button that has props passed through
<img width="1041" alt="Button_tsx_—_template" src="https://user-images.githubusercontent.com/4271679/132079644-bb79bfa4-5ca1-4ded-a7e1-ebcc0ea8587a.png">

I'm using the default next.js typescript configuration

[code]

[2021-09-04 02:47] kyh commented on #29
Using `type` instead of an `interface` works

[2021-09-04 03:11] kyh opened #30 "Feature Request: support `as` prop for polymorphic components"
Example usage:
[code]

https://styled-components.com/docs/api#as-polymorphic-prop

[2021-09-04 14:37] MathiasGilson commented on #29
Weird, it works for me, I'm on typescript 4.3.5

[2021-09-05 23:06] kyh commented on #29
ill close this issue since there's a clear workaround and until we find a reproducible environment there's nothing we can do here

[2021-09-05 23:06] #29 closed

[2021-09-13 00:30] joetifa2003 opened #32 "Extend not working as expected."
When i extend a tw componnent the class names works fine but the dynamic ones don't work.

![image](https://user-images.githubusercontent.com/62658783/133008012-41d82570-8360-4ae4-b3e4-4b4dd3bc1a84.png)

Here in the "SpecialSection" componnent the pt-[72px] works fine but the $fullscreen $container don't work (even though the types gets extended)

[2021-09-28 09:25] frivolta commented on #29
Same, just cra, styled components, tailwind styled components.
https://github.com/frivolta/audiophile-fe-client
Note that I have just copied/pasted the examples and the error is reproducible 100% of the times.

[2021-09-28 09:31] frivolta commented on #29
Digging:
i found that tailwind.d.ts as this type:

[code]
this is the compatibility issue as if I remove a $ it works:
[code]

Don't really know how to fix it in tailwind-styled-components.

[2021-10-12 16:37] leota opened #33 "How to make responsive styles using breakpoints?"
This is probably a silly question, but I can't understand how to use breakpoint prefixes with this library.
How would you translate this piece of code?

`<div class="w-16 md:w-32 lg:w-48">`

I've tried so many things, but none works. My first approach was something like this:

[code]

But didn't work :(

[2021-10-13 06:37] #33 closed, assigned to nobody

[2021-11-18 19:12] good-idea commented on #29
This appears to be an issue with newer versions of Typescript (4.5+) - I'm not seeing this error on 4.3.2. TS 4.5 has a new feature, "[Template String Types as Discriminants](https://devblogs.microsoft.com/typescript/announcing-typescript-4-5/#template-string-discriminants)", so it's now parsing this:

[code]

In a smarter way. Unfortunately, for those of us using interfaces, those aren't working

[2021-12-13 14:28] ins4w opened #34 "Tailwind Styled Components not working on Tailwind CSS v3"
I get the following error only when I try to use tailwind styled components:
[code]

I created my project following [Tailwind CSS v3 documentation](https://tailwindcss.com/docs/guides/create-react-app) and Tailwind works fine in classNames, but whenever I try to use React Styled Components, although the styles are applied, the previous error pops up.
![bug](https://user-images.githubusercontent.co

[2021-12-17 04:14] br14n-sol commented on #34
@ins4w It works well for me 🤔
Vite + React + Tailwind 3

[2021-12-18 11:00] inDietz commented on #34
i see this errors but it still works.

CRA@5 + Tailwind 3

[2021-12-22 14:04] MathiasGilson commented on #34
Hi!

I just updated the example folder with Tailwind 3 and could not reproduce the error.

Maybe it's linked to the package itself not mapping the types properly?

[2021-12-30 02:20] ins4w commented on #34
It seems like it works for me too. I'll test it again later and check if it outputs any error.

[2022-01-05 17:23] ins4w commented on #34
Looking good.

[2022-01-05 17:23] #34 closed

[2022-01-06 10:12] Dudeonyx commented on #32
That's because the transient props get filtered out in SpecialSection and does not get to Section.

[2022-01-16 01:50] MathiasGilson commented on #32
This should work now thanks to @Dudeonyx PR!

Please update package to 2.1.0

[2022-01-16 01:50] #32 closed

[2022-01-16 01:51] MathiasGilson commented on #13
Hello @cj,

displayName are now available in the new 2.1.0 version thanks to @Dudeonyx !

[2022-01-16 01:51] #13 closed

[2022-01-16 01:52] MathiasGilson commented on #30
Hello @kyh,

as prop for polymorphic components is now supported thanks to @Dudeonyx PR!

[2022-01-16 01:52] #30 closed

[2022-01-16 01:52] MathiasGilson commented on #24
Hello @tiagostutz,

This should be fixed in the 2.1.0 thanks to @Dudeonyx PR!

[2022-01-16 01:52] #24 closed

[2022-01-16 01:55] MathiasGilson commented on #28
Hello @officefish,

I'm not sure if it's the best use case for Tailwind Styled Components...

Please reopen if you still think that it's something the package should handle

Many thanks

[2022-01-16 01:55] #28 closed

[2022-01-16 01:57] MathiasGilson commented on #22
Hello @user753!

@AlexMason has a good point, it's not really a function that requires a library but I could see some usecase where it could be pretty handy.

Making a PR should not be super difficult if you still think it's something you would need from this library 😉

[2022-01-16 01:57] #22 closed

[2022-01-17 10:58] taylor-ben opened #38 "Cannot export TailwindComponent"
Cannot export a component

[code]

Getting this error:
`Exported variable 'Container' has or is using name 'TailwindComponent' from external module ".../node_modules/tailwind-styled-components/dist/tailwind" but cannot be named.ts(4023)`

[2022-01-17 11:04] taylor-ben commented on #38
Suggestion:

`./src/tailwind.tsx`
[code]

[2022-01-17 18:44] Oldbury commented on #38
I'm getting this too, following for updates

[2022-01-18 21:47] MathiasGilson commented on #38
Hello guys,

I could not reproduce on my test repo.
Could you share your typescript version and your tsconfig.js ?

Many thanks

[2022-01-18 22:35] MathiasGilson commented on #38
Okay I was able to reproduce, this was indeed due to not exporting the interface TailwindComponent.
It's now fixed in the version 2.1.1

thanks for reporting this issue!

[2022-01-18 22:35] #38 closed

[2022-01-19 19:36] simonasdev opened #39 "v2.1.1 Typescript error: Property '$as' is missing in type"
Hello. We have upgraded the package from 2.0.4 to 2.1.1 and received new typescript errors all over the codebase. Most of them indicate some kind of issue with the new `$as` prop. For example:
[code]
The source code is as simple as follows:
[code]

By looking at the library's source code I couldn't understand why is the `$as` prop reported as missing, since it seems to be optional. Do you have any

[2022-01-20 23:04] MathiasGilson commented on #39
Hello @simonasdev,

The issue might be related by the fact that you are making a styled component inherit a tailwind styled component.

I'm not sure that this use case is really supported 😬

[2022-01-21 10:46] simonasdev commented on #39
do you mean that composing tailwind styled components with styled components are unsupported since the addition of `$as` prop? I'm sure it worked without it and there were no typing issues whatsoever

[2022-01-21 22:34] MathiasGilson commented on #39
Could you provide me your exact code?

I'm not able to reproduce with this code

[code]

[2022-01-21 22:51] MathiasGilson commented on #39
ok sorry I was actually able to reproduce after putting `strict: true` in my tsconfig.

Some of the $as prop declaration were missing a optional ? character.

It's now fixed on the version 2.1.2

Thank you for reporting this issue!

[2022-01-21 22:51] #39 closed

[2022-01-22 01:11] Dudeonyx commented on #39
@MathiasGilson

Yeah sorry, I noticed the issue comes up when strict=true in tsconfig as well.

Unfortunately there are also some very rare weird edge cases I also noticed that only occur when strict is true, these happen even in pre 2.1.0 versions.
Like I get an error when using `tw` on a Component without a `className` prop.

[code]

And also optional props added using type constructors(?) get s

[2022-02-04 19:13] D1no opened #42 "Failed to parse source map from '(...)/src/tailwind.tsx`"
Hi, first of all: Amazing Project! Thank you for building this!

So, when I run `npm start` the console spits out: can't find src/ folder but still serves the react app correctly o.0

[code]

Not sure if simply publishing the `src` folder to npm would fix this.

## Reproduction

- As Github Repo: https://github.com/D1no/reproduction-tailwind-styled-component
- As Codesandbox: https://codesandbox.i

[2022-02-15 17:33] simonasdev opened #43 "v2.1.4 FATAL ERROR: Reached heap limit Allocation failed"
Hello again. Thanks for the 2.1.2 version fix.

Unfortunately, upgrading to 2.1.4 and running `tsc` presented an error on a whole different level:
[code]
Not really sure where to begin debugging, since no other output is present. The JS itself works as expected, but `tsc` runs forever and then OOMs.
Do you have any idea what might have caused it?

[2022-02-17 18:53] MathiasGilson commented on #43
maybe @Dudeonyx has an idea of where that issue comes from ?

[2022-02-20 03:39] rickyzhangca commented on #42
sam error, but using `"import tw from 'tailwind-styled-components";` works for me and `import tw from 'tailwind-styled-components';` does not

[2022-02-20 03:48] rickyzhangca commented on #42
can confirm, happening to me as well on a fresh create-react-app project

[2022-02-20 13:36] rickyzhangca commented on #42
my current workaround is setting up `react-app-rewired` and in `config-overrides.js`, put

[code]

to ignore the warning so it's more friendly to pipeline stuffs

[2022-02-20 19:28] j-ibarra opened #44 "Saving '.tsx': Applying code action 'Organize Imports'."
issue when use the library

when I use

[code]

the vscode take much time to organize imports

`Saving '******.tsx': Applying code action 'Organize Imports'. take 3-5 mins`

but when save success and the app recompile its UI its show successfully

if I use

`> Typescript: Restart TS server`

[code]

all work fine

[2022-02-21 13:27] kla-trackunit opened #45 "Question: Formatting and Linting"
Hi 👋🏼
First of all thanks for this great project 🙏🏼

I am in the process of replacing "normal" styled components with Tailwind-Styled-Components in a semi large code base.
During this I have hit a few questions I hope you might have some suggestions for 🙂

1. For styled components we are used to formatting the contents of the template using Prettier, any suggestions for automatic formatting of the

[2022-02-21 18:12] MathiasGilson commented on #45
Hello @kla-trackunit,

For prettier support I wonder if we can make a prettier plugin to support Taiwind Styled Components. PR welcome 😉

For the color hint, this is mostly due to the detection pattern from the extension you are using. Returning a Taiwind Styled Component is causing an error because it's expecting a string not a react component.
Fixing this issue will require an update from the ex

[2022-02-21 18:12] #45 closed

[2022-02-21 18:13] MathiasGilson commented on #44
can you try rolling back to the package version 2.1.3 ?

[2022-02-21 18:15] MathiasGilson commented on #42
do you have this issue with the package version 2.1.2 ?

[2022-02-21 18:20] rickyzhangca commented on #42
tried @D1no 's sandbox with 2.1.2, same errors

![image](https://user-images.githubusercontent.com/16908811/155008754-fc0708d8-f72a-419d-a275-1553ca7c7181.png)

[2022-02-22 06:26] kla-trackunit commented on #45
Thank you for your time and quick response! 🙏🏼

Writing a prettier plugin seems scary, but i might have a go at it. 🤷‍♂️

Was thinking that it should be possible to write another regex for the TailwindCSS extension to catch any "" blocks inside a tw.component``block. Will give it a try 🙂

[2022-02-22 07:09] kla-trackunit commented on #45
For code hints, do you think a utility simply to return the inserted values as strings would make sense?
Something like this:  `const twString = (strings: TemplateStringsArray) => strings.join(" ");`

![image](https://user-images.githubusercontent.com/62990503/155080224-b4abd8f2-04b5-4661-a944-ea6993261c89.png)

Kind of how normal styled components have the css\`\` function.
Not sure what cases it

[2022-02-22 20:23] MathiasGilson commented on #45
Hello @kla-trackunit,

Good job on this fix, I don't think that it would be worth it to have an utility just for this specific use case but I think that everyone having this issue can implement it directly in their code like you did.

Thank you for sharing!

[2022-02-24 14:25] simonasdev commented on #43
well the `strict` was `true` for me to begin with. Seems like #44 could be suffering from the same culprit

[2022-02-24 18:53] MathiasGilson commented on #43
yep, can you try rolling back to package version 2.1.2 ?

[2022-02-25 09:40] simonasdev commented on #43
yeah, that is the last one that works for us, since 2.1.3 doesn't seem to be on npm

[2022-03-03 12:22] johnolos opened #46 "Feature: Expose css-like utility function known from styled-components"
First of all, trying this library, and loving it so far! 👏

I was trying to structure my code and attempting to create shared styling between components that fundamentally do not share same functionally.

To my knowledge; one could do this with styled components:

[code]

Basically, I think a wrapper `css`-function exported from your library would be a great addition that is aware of tailwind-expr

[2022-03-06 03:14] randallmlough opened #47 "Feature: Attrs functionality"
while building a UI library with this I've run into a number of scenarios where I've wanted to have the [attrs](https://styled-components.com/docs/basics#attaching-additional-props) functionality that styled has. My use case doesn't require the complexity (or even dynamic capabilities) that styled has, I mainly just want be able to attach attributes to the element like, `type`, `role`, `aria-*`, e

[2022-03-20 18:05] bcucumber opened #48 "Feature: using tailwind-merge library to override parent classes"
Hi! First of all, this is a great library as it makes working with Tailwind a lot easier, and I'm very thankful for that.

Like the documentation explains, this library doesn't override parent classes, it just concatenates the different classes and the result will depend on each case. Which brings to the following suggestion: how possible would it be to switch the use of the current library `tailw

[2022-03-21 18:59] MathiasGilson commented on #48
Great idea! I'll have a look, PR are welcome if you have time 😉

[2022-03-21 21:47] idChef opened #49 "Tailwind Intellisense bug"
When using Tailwind Intellisense fix from the readme, writing `flex` results in this autocomplete behaviour:

![image](https://user-images.githubusercontent.com/34141636/159368928-a2d62abc-490f-4638-b6c2-86e01a42d362.png)

[2022-03-23 06:26] Mic1 opened #50 "import Image from 'next/image' - how to tsc its tailwind css?"
`import Image from 'next/image'`

`<Image
            className="absolute inset-0 h-full w-full rounded-lg bg-gray-400 object-cover shadow-md"
            etc
          />`

How do I tsc this> Thanks.

Tried moving into the enclosing div but not at all the same thing   . am reading that Next changed the way Image behaves in the latest version that has broken a lot of people's code. One suggestion

[2022-03-25 13:00] kla-trackunit commented on #46
I have run into a similar thing, the best i could come up with was the solution posted in this comment:
https://github.com/MathiasGilson/Tailwind-Styled-Component/issues/45#issuecomment-1047488359

[2022-03-26 18:45] bcucumber commented on #48
Hi @MathiasGilson, I submitted a PR with the changes for this feature. Feel free to check it out and run the checks on your end whenever you can!

[2022-03-26 18:55] MathiasGilson commented on #48
Will do! Thank you so much for taking the time to do it 😉

[2022-03-27 18:47] idChef commented on #50
Try the `layout` prop on the `Image` tag. The way you work with the `next/image` is the same as you would normally.

[2022-03-28 21:07] MathiasGilson commented on #49
Hello @idChef,

Please check you VSCode intellisense config for any conflics.
I was unable to reproduce this issue, closing for now

[2022-03-28 21:07] #49 closed

[2022-03-28 21:52] MathiasGilson commented on #42
Should be fixed in the last package version 2.1.6

[2022-03-28 21:52] #42 closed

[2022-03-28 21:55] MathiasGilson commented on #46
Extending a parent component containing the classes wouldn't work?

[code]

[2022-03-28 21:56] MathiasGilson commented on #48
Implemented in the last version 2.1.6!

Thank you for your PR!

[2022-03-28 21:56] #48 closed

[2022-03-29 06:25] johnolos commented on #46
That does the trick in a small fashion. I suspect in a larger code-base you might want other ways to express yourself.

Closing the issue for now.

[2022-03-29 06:25] #46 closed

[2022-03-30 07:43] azzlack opened #52 "Using props does not work"
Given the following code

[code]

it renders the following HTML

[code]

But the `w-[calc(100%-0.75rem)]` part is not picked up by Tailwind JIT, so it has no effect. Am I doing something wrong here?

[2022-03-31 23:35] MathiasGilson commented on #52
Yeah I'm not sure that you can use custom JIT classes with props...

[2022-04-01 01:39] MathiasGilson commented on #46
Please re-open if you find a use case that you think would justify such a utility!
Otherwise PR are always welcomed 😉

[2022-04-05 07:49] arminhupka commented on #42
Unfortunately error still exist.

[2022-04-06 14:18] sabres207 opened #53 "withComponent function not supported"
Hey guys, thanks for the awesome library.
I noticed there is no way to pass tw an Element to wrap on the fly.
in styled-components I think you could do it with:

[code]

Got any idea how to use tailwind-styled-component with a component that is decided on runtime?
Thank you!

[2022-04-08 14:43] mauriceackel commented on #52
JIT runs at build time, but your class name gets computed at runtime.. Hence, tailwind does not know the actual name of the class at runtime and cannot generate the CSS for it.

[2022-04-08 14:56] mauriceackel opened #54 "Allow falsy return values in template elements"
Hi,

when I try to do this:

[code]
where `primary` is of type `boolean | undefined`...

I get a TypeError:

[code]

Given that there is [this code](https://github.com/MathiasGilson/Tailwind-Styled-Component/blob/ef0112eff89d8884425033a18cd3eca5139b4914/src/tailwind.tsx#L11) already, could the allowed return type for template components be extended to include `false`? (Or perhaps even more "falsy"

[2022-04-09 09:10] azzlack commented on #52
Thanks for the response. Is there any way to do what I am trying to accomplish without using style attributes then?

[2022-04-10 00:57] MathiasGilson commented on #52
You can use a styled component and extend it to add the tailwind classes. You should be able to set the width with props at runtime using basic css in the styled component

[2022-04-14 23:11] MathiasGilson commented on #50
I don't see how this is related to Tailwind Styled Components, closing for now, please add a way to reproduce if you think this is something that this library should solve.

[2022-04-14 23:11] #50 closed

[2022-04-14 23:14] MathiasGilson commented on #43
@Dudeonyx I think your typing is a bit excessive for tsc 😅
Can you try to remove some of the type checks?
I've tried on my own but I end up removing most of it maybe there is a cleaner solution?

I'll have to publish an updated version of the package with most of the typecheck removed so people's code compile.
Can you please have a look?

Many thanks 🙏

[2022-04-14 23:40] MathiasGilson commented on #43
Okay 2.1.7 was published, I removed most of the nested typing, the tests pass immediatly without the heap limit allocation fail so that should address this issue for now.

[2022-04-14 23:44] #52 closed

[2022-04-14 23:46] MathiasGilson commented on #44
Hi @j-ibarra,

Can you try again with the last version `2.1.7`?

[2022-04-14 23:48] MathiasGilson commented on #53
Doesn't this work?

[code]

[2022-04-15 01:47] Mic1 commented on #50
Yes please do - I was asking for help in using tsc with next/img, not suggesting that there was a problem with tsc ... apologies if this was the wrong place to connect with you.

    On Thursday, April 14, 2022, 05:11:52 PM MDT, Mathias Gilson ***@***.***> wrote:

Closed #50.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.

[2022-04-16 14:19] j-ibarra commented on #44
Hey @MathiasGilson Thanks, but we don't use this library any more!

[2022-04-16 14:19] #44 closed

[2022-04-16 15:39] bcucumber commented on #43
Hi @MathiasGilson thanks a lot, the ts problem has been fixed! I have noticed however that typings for custom props have been lost and bring problems when using `no implicit any`. For example:

    const HelperText = tw.span<{ $error?: boolean }>`
      ${({ $error }) =>
        clsx({
          'text-text-500': !$error,
          'text-danger-500': $error,
        })}
    `;

throws `TS7031: Bind

[2022-04-18 08:41] YeungKC opened #55 "Component type error"
![image](https://user-images.githubusercontent.com/11473691/163782180-65ebafdd-adf8-4169-a99a-86e7565e3357.png)

I think it is TailwindComponent?

[2022-04-18 12:52] YeungKC opened #56 "Loss of parent component className"
input:

[code]

output:
[code]

loss the Div1's className

[2022-04-19 12:21] YeungKC commented on #55
I also found out later that this should not be changed to any, otherwise it would be anyscript.

[2022-04-25 08:40] vedantroy opened #57 "Will this work with purge css?"
I know tailwind css detects whether a class is used based on `className`. Since components defined using this format are not using `className`, will the resulting css file still include the correct class names?

[2022-04-27 05:25] hylickipiotr commented on #55
@MathiasGilson Could you help with this issue?

[2022-04-27 18:20] vladikopl01 opened #58 "Using arbitrary values"
Hello, it would be nice to have this in your library, or is it already there?

Example of using arbitrary variants to style elements with a custom selector:
[code]

[2022-04-27 18:34] vladikopl01 commented on #58
Or even in such structure to implement same logic:

[code]

[2022-04-28 14:31] fernandame commented on #58
I believe the second syntax makes more sense and I absolutely love it. Would spare a lot of time and it's cleaner.

[2022-04-28 14:33] fernandame opened #59 "Adapting based on props"
On styled-components' original [docs](https://styled-components.com/docs/basics#adapting-based-on-props), there's a way that we can pass a function to the styled component's template literal and adapt the primary state based on its props:

[code]

Since tailwind CSS doesn't support interpolations, i.e. `bg-{color}`, the exact code above can't work for tailwind-styled-components. But perhaps we can

[2022-04-28 14:49] fernandame commented on #55
By the way, I believe specifying a type for the component's props should automatically set the same type for conditional props as well.

Right now, I have this example code:

[code]

And then I get this:
![image](https://user-images.githubusercontent.com/60949970/165778788-1ca9dd81-9ed7-491a-9dcd-5d57ae78be16.png)

When we should expect this behavior by default (without specifying the props direct

[2022-04-29 22:03] vedantroy opened #60 "Will this work with frameworks like daisy-ui?"
If I use a tailwind framework, like daisy ui, will this still work?

[2022-04-29 22:24] randallmlough opened #61 "$as prop clears merge inheritance"
$as prop appears to break className merging inheritance

**Simple example**
[code]

[2022-04-29 22:52] randallmlough commented on #59
Yeah you can do that. He's a snippet where I use a switch case for button sizing variants
[code]

[2022-04-29 22:54] fernandame commented on #59
@randallmlough I did that as well, but it's not really the same as the original, is it? Nice workaround, though

[2022-04-29 23:01] randallmlough commented on #59
Oh I see the nuance of your question now. What you are asking for is more of a limitation with Tailwind than this library. Tailwind's purging mechanism cant handle things like `text-${DYNAMIC_COLOR}-500` which is essentially what you are wanting

[2022-04-29 23:04] #59 closed

[2022-04-29 23:05] randallmlough commented on #57
Yes. Tailwind's purge mechanism reads the whole file not just what is defined in `<div className='some-class'>` for example

[2022-04-29 23:14] randallmlough commented on #56
@YeungKC: I just made a similar/duplicate to this issue: https://github.com/MathiasGilson/Tailwind-Styled-Component/issues/61

The reason this is happening is because of the `$as` prop.

Also want to point out that you are using the `$as` prop incorrectly here. $as is used to render one html element as another, not the component itself. So in my linked example the base component is a paragraph ele

[2022-04-30 01:32] vedantroy commented on #57
Oh that's quite nice, are there docs on how this works?

[2022-04-30 01:32] #57 closed

[2022-05-04 11:00] olavblj opened #62 "Auto format on save"
How would I go about getting formatting on save with this package? Really love the direction, but need to be able to paste in tailwind classes into a styled component and for them to automatically be split to each line when saving.

[2022-05-04 12:10] alexjidras commented on #52
@azzlack that's not an issue. You wrote the calc css syntax wrong. `calc(100%-0.75rem)` will not work even with css. You should add a space around the `-` operator. Like this `calc(100% - 0.75rem)`. With tailwind custom classes spaces inside it should be marked with `_` so your final class should be `w-[calc(100%_-_0.75rem)]`.

[2022-05-04 15:14] randallmlough commented on #62
I'm not the owner of this library, but that's a job for `Prettier` or whatever your linter of choice is

[2022-05-05 19:33] arminhupka commented on #55
Any option to fix it?

[2022-05-05 19:44] mauriceackel commented on #54
Hey @MathiasGilson, I created #63 to support this functionality. I would be glad if you can take a look at it!

[2022-05-05 23:13] Stancobridge opened #64 "Any support for Tailwind JIT"
I will like to use this amazing  package in a project am working on, please does this support tailwind jit

[2022-05-06 14:22] olavblj commented on #62
Yes, do you have a prettier configuration that would do this?

[2022-05-11 16:07] YeungKC commented on #56
In my opinion, If this is incorrectly, feedback should be given, such as syntax errors.

[2022-05-13 14:34] lumenwrites opened #65 "What's the difference between this and Twin.macro? What are the pros and cons of using each?"
This library looks amazing, and seems like it does exactly what I need - enabling me to use Tailwind with React without turning my JSX into an unreadable mess.

Since I'm new to Tailwind, I'm still trying to find the best way to use it. Can you help me figure out the difference between this library and [Twin.macro](https://github.com/ben-rogerson/twin.macro)? What are the pros and cons of using ea

[2022-05-17 21:31] FranciscoKloganB commented on #65
Would like to know more about this too. My initial reaction is that `Twin.Macro` is a more complete package (supports more and more complex use cases), but also has more boilerplate when writing code. Then again, I am no expert.

[2022-05-20 11:06] dinhmai74 opened #66 "[Help] Is there anyway config neovim suggestion"
I see Vscode IntelliSense can suggest tailwindcss syntax but is there any way it worked for nvim LSP?

[2022-05-26 13:48] MathiasGilson commented on #66
You can suggest a config here if you find one but for now this is not supported.

[2022-05-26 13:48] #66 closed

[2022-05-26 14:10] MathiasGilson commented on #65
Honnestly the main difference was the syntax of Twin.Macro that was different before and the inheritance that seems to be supported now. I didn't test the last version yet but Twin.Macro seems better maintained too...

[2022-06-01 07:50] mauriceackel commented on #43
@MathiasGilson It would be lovely if we could get a fix of the typing issue without the types being removed all together ❤️

[2022-06-03 02:48] Kalmarv commented on #60
Yes it will, and with no configuration needed.

I'm using it [here](https://github.com/Kalmarv/SensitivityUtils) if you want to see it in action.

[2022-06-15 17:07] Pedromdsn opened #67 "Formmat"
You can format to be cute which one click on the format keys.
Like prettier-plugin-tailwindcss

[2022-06-23 16:25] #54 closed

[2022-06-27 19:42] AidanRRR opened #68 "Add CSS to tailwind styled component"
Is it possible to add CSS to a tailwind styled componet (not extend)? Combining both CSS and tailwind classes would be nice!

[2022-06-28 19:57] FranciscoKloganB commented on #65
@MathiasGilson I would like to add another question. :thinking:

I have been using `tailwind-styled-components` on Next 12 with `SWR` compiler without custom `.babelrc` without issue; However, I assume you did not make a port to work with Rust. So how is this working? :sweat_smile:

[2022-06-28 21:30] MathiasGilson commented on #65
It runs at runtime which is less than ideal

[2022-06-28 21:31] MathiasGilson commented on #68
No because tailwind properties are actually CSS classes and CSS pure css would be CSS properties which are not compatible

[2022-06-28 21:31] #68 closed

[2022-06-30 10:47] AidanRRR commented on #68
Thanks for following up!

Yes, but sometimes not everything is do-able with tailwind and doing it with an extend takes a bit of the 'cleanliness' away in my part as you have a few extra lines and not have sort of a quick view of the actual generated css.

[2022-07-01 12:01] max-sym commented on #65
twin.macro doesn't allow you to use variables well AFAIK. This package is very simple, doesn't run in the browser and is much lighter.

[2022-07-01 16:26] alexjidras opened #69 "Enhancement: export twMerge"
you could export twMerge function from 'tailwind-merge' as part of this package. So we don't have to install 'tailwind-merge' as a separate package when tailwind-styled-components already comes with it.

Thoughts on syntax:
[code]

or
[code]

[2022-07-02 15:04] FranciscoKloganB commented on #65
Yes, I am also having lots of trouble using `twin.macro`, been trying to migrate for a week now and I am hitting all kinds of roadblocks. From unclear setup documentation to being forced to use `babel` instead of `swc`.

Sure, performance gains may be nice, if most things are done at compile-time, but I find myself not knowing how to do some things with ease... readability is already being hurt an

[2022-07-04 00:12] rayzr522 commented on #43
any update on this? 100% happy to help out myself, I'm pretty experienced with TypeScript's typing system and doing weird wonky metaprogramming with it. do you know what part of the typings are actually the culprit for the performance issues? that would be a helpful starting point, otherwise happy to profile and debug this myself -- I really want to use this library but still be able to get typing

[2022-07-04 23:13] MathiasGilson commented on #43
Hello @rayzr522! I would love to get some help on that as I'm not the best when in comes to nested typing on typescript.

You can see on this [commit](https://github.com/MathiasGilson/Tailwind-Styled-Component/commit/5ea6caaa56c598d45eb01bb69c33f58f707f926c) that I removed a lot of typing for the tests to pass.

I'm afraid that I didn't understand which one was failing exactly but I tried to remov

[2022-07-07 09:53] valentin-harrang opened #70 "Apply "not" selector and "focus" that depends on another component"
Hi,

I need an equivalent of this:

[code]

Is there an equivalent with this library?

[2022-07-08 08:47] alexjidras commented on #70
@valentin-harrang
If you use latest Tailwind version you can write custom modifiers (selectors) (i.e. &:not([value=''])) with arbitrary variants:
[code]
docs here: https://tailwindcss.com/docs/hover-focus-and-other-states#using-arbitrary-variants

For the next lines, referencing parent elements can be achieved with 'group' modifier and siblings with 'peer' modifier.
For your use case:
Mark the sib

[2022-07-27 03:17] gnllucena opened #72 "pnpm requires older vesions of react and react-dom"
whenever I try to install tailwind-styled-components with pnpm it says I should be using an older version of react and react-dom, even tho I have newer ones:

terminal error:

[code]

packages.json:
[code]

[2022-08-02 21:21] benfiratkaya opened #74 "How can I configure IntelliSense autocomplete on WebStorm?"
Hello,
How can I configure IntelliSense autocomplete on WebStorm?

[2022-08-04 14:45] susyabashti commented on #55
Any fix planned on this issue?

[2022-08-13 19:13] Pedromdsn opened #75 "Types Error"
Good afternoon,
I'm having a problem with the lib typing.
I create a div, but it is defined as `any`, would it be possible to force the typing to div?

![image](https://user-images.githubusercontent.com/57453260/184507591-60dd70af-7054-4a3c-a7bf-ef4f0e8fbe6a.png)
(Don't care about styles , it's merely indicative xD)

[2022-08-16 11:24] max-sym commented on #75
Yes, we're still waiting for the library to get updated on this issue.
BTW it's a duplicate of https://github.com/MathiasGilson/Tailwind-Styled-Component/issues/55

[2022-08-26 13:14] #43 closed

[2022-08-26 13:14] #61 closed

[2022-08-31 20:39] Pedromdsn commented on #55
Any solution?

[2022-09-02 20:09] rubens-lopes commented on #69
My humble opinion:

I don't see everybody that uses `tailwind-styled-components` with a mandatory need of `tailwind-merge`, so if it is a special case it should be add as dependency when need only.

Libraries should be a black box, in case the author needs to chance the internal implementation it would broken whoever is using that internal dependency.

[2022-09-04 00:10] victtordevweb opened #76 "Error assigning variable"
This writing doesn't work

![image](https://user-images.githubusercontent.com/36973066/188291444-ed63ddc9-1c19-4d45-909a-ee95fa7f178e.png)

**Error: TypeError: t is not a function**

[2022-09-04 00:26] victtordevweb commented on #76
Fixed
![image](https://user-images.githubusercontent.com/36973066/188291717-bd746dd6-6fea-4d96-a046-3dedccfe9cd0.png)

[2022-09-04 00:26] #76 closed

[2022-09-05 17:07] silvestreh opened #77 "Question / Feature Request: Ability to target children"
First off I'd like to thank everyone involved for this library!

I've recently found myself trying to style components that come from other libraries and, while I can use `tw(ThirdPartyComponent)`, it adds Tailwind classes only to the "container" and can't use CSS selectors to target any children.

Would an API like this be possible?

[code]

Where `selector` would try to find any child matching t

[2022-09-05 20:44] silvestreh commented on #77
🤔 not sure this would be possible. In order to be able to query the DOM, we would first need to render the component.

[2022-09-06 17:31] mateusfg7 commented on #55
same for me

[2022-09-06 18:15] MathiasGilson commented on #55
Just published the version `2.2.0` that should address this issue

I've got a warning for excessively deep type instanciation though, and I'm not sure how to fix that
If some of you guys are typescript experts and could have a look at #71 it would be greatly appreciated!

[2022-09-06 18:17] #77 closed

[2022-09-06 18:29] silvestreh commented on #77
@MathiasGilson thanks for taking the time to reply.

Yes, I'm aware that I could extend a styled-component, but the problem I was having was trying to style a component from a third party library, like Ant Design's Date Picker. Besides, when extending a styled-component you can only write CSS and can't use Tailwind classes for nested children.

Shortly after opening this issue I realized my idea a

[2022-09-07 00:36] MathiasGilson commented on #77
Yeah that's what I do with ant.design too!
You can also override css props from the build config in your packager (webpack in my case)

[2022-09-07 00:39] MathiasGilson commented on #64
My understanding of jit is that it scan the raw text of your project files to detect tailwind css classes and only load the one it finds. It does not require any support from this library.

Please reopen if I'm wrong

[2022-09-07 00:39] #64 closed

[2022-09-07 00:44] MathiasGilson commented on #58
Have you tried to use [@tailwindcss/nesting](https://www.npmjs.com/package/@tailwindcss/nesting) ?

[2022-09-07 00:44] #62 closed

[2022-09-08 08:40] aplr opened #78 "import_tailwind_styled_components.default.* is not a function when "type": "module""
When using "type": "module" in my package.json, the styled component import fails with the following error:

[code]

What needs to be done to fix this?

[2022-09-08 09:23] aplr opened #79 "Polymorphic Component: "Type instantiation is excessively deep and possibly infinite""
When using the `$as` prop of my `StyledButton`, typescript complains with the following error on `StyledButton`:

[code]

Here's a small example:

[code]

[2022-09-22 22:04] GabrielOGabs commented on #79
Just by using a simple tw.div`` and putting a tw.img``inside the div I'm getting this error.
I'm using Styled Components with Theme Provider as well.
This error is annoying.

[2022-09-23 14:00] officefish opened #80 "@windicss-plugin-for-ts-styled-components, please"
Do you have any plans to create a plugin for windicss to provide compatibility support when migrating from tailwind to windi?

[2022-09-25 02:20] bpinheiroms commented on #79
I had the same problem when I need to pass parameters, for now I solved it by putting:

`twd.button<any>`

And when I need to have variations, I use inheritance:

[code]

[code]

If anyone else has another suggestion to solve this, I didn't find a very elegant solution but it was the way I found to get around it.

[2022-09-27 22:30] MathiasGilson commented on #79
@Dudeonyx Could you have a look if you have the time ? 🙏

[2022-10-02 19:01] sssssstyx commented on #74
The same problem keeps confusing me for quite a long time... Waiting for a great solution!
I have only seen this [https://youtrack.jetbrains.com/issue/WEB-48505/Tailwind-CSS-regex-support-custom-class-name-completion-contexts](url)

[2022-10-06 19:13] alexjidras commented on #69
@rubens-lopes Good argument. Thanks

[2022-10-06 19:13] #69 closed

[2022-10-12 09:19] matthieupinte commented on #79
First thanks for your work ! Hope to see a fix in the next release ;) For now I downgraded to `2.1.7` to keep it "work"

[2022-10-23 22:23] mac501pl commented on #79
Are there any updates on this? Downgrading to `2.1.7` is no good because it doesn't seem to have a good typescript support as the default `tw` export is of type `any`

[2022-10-25 03:11] morshedulmunna opened #81 "TypeScript Error.."
module.style.ts  file
import tw from "tailwind-styled-components";

import tw from "tailwind-styled-components";

export const Container = tw.div`
 bg-blue-600
`;

export const Button = tw.button`
 p-2
`;

index.tsx file
import React from "react";
import { Button, Container } from "./module.navbarStyles";

type Props = {};

const index = (props: Props) => {
  return (
    <Container>
      <Button

[2022-10-31 22:07] tylerscave commented on #79
Also excited to see a fix for this (linting errors for this make me crazy)... FWIW, downgrading did not solve the issue for me.

[2022-11-04 03:42] mac501pl commented on #81
Duplicate of #79

[2022-11-10 12:42] GabrielOGabs commented on #79
For now, I created a Wrapper to use @bpinheiroms ' solution (just to get rid of the linting errors)

Here it  is:

[code]

and in my components instead of importing tw directly from TailWindStyledComponents I'm importing from my wrapper

[2022-11-10 13:03] Wisesaturn opened #82 "An issue occurs when I customize font-size."
There is an error that results in priority when **customizing** the naming of the font size.

### Normal

|tailwind-styled-components Tag|Normarl Tag|Result|
|---|---|---|
|![image](https://user-images.githubusercontent.com/79848632/201096964-fd9a7c52-e692-48d8-9076-89acc7d57ff8.png)|![image](https://user-images.githubusercontent.com/79848632/201097023-e99aa6fd-240d-4e45-b9fb-15e2b2e024f4.png)|![i

[2022-11-16 20:36] john-twigg-ck commented on #79
@GabrielOGabs
Unfortunately for me, this doesn't support injected properties, example:
[code]

[2022-11-28 20:58] Kadrian commented on #79
What fixed it for me was I was switching my VS code TS version to 4.9. Before, I was using 4.8

[2022-11-29 21:23] john-twigg-ck commented on #79
That worked for me; link here how how to change TS version in VS Code
https://stackoverflow.com/a/39676463